* {
  font-family: 'Poppins', sans-serif;
}


/* Navbar */
.navbar-light {
    background-color: #000024;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-text {
    color: #FCFEFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #FCFEFF;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: #FCFEFF;
    text-decoration: underline;
}

.navbar-toggler {
    background-color: #FCFEFF;
}


/* Footer */
footer {
    background-color: #000024;
    color: #FCFEFF;
}


/* Main */

/* All */
.btn-primary {
    background-color: #01E075;
    border-color: #01E075;
}

.btn-primary:hover {
    background-color: #00AE63;
    border-color: #00AE63;
}

/* Home */
.home h1 {
    font-weight: bolder;
}

.home h3 {
    font-weight: bold;
}

.home .h4 {
    font-weight: normal;
}

home .btn-outline-success:hover {
    background-color: #01E075;
    border-color: #01E075;
}

.home form {
    width: 100%;
}

.home .bar {
    width: 70%;
}

.home .btn {
    width: 28%;
}

.home .h5 {
    color: #FCFEFF;
    text-decoration: underline;
}

.home {
    color: #FCFEFF;
    background-image: linear-gradient(#000024, #01E075);
}

.home .card {
    color: #FCFEFF;
    background-color: #000024;
}

.home .pagination {
    justify-content: center;
}

.home .social-media img {
    height: 50px;
}

/* Job */
.job {
    color: #FCFEFF;
    background-image: linear-gradient(#000024, #01E075);
}

.job a {
    color: #000024;
    text-decoration: underline;
}

.job .h6 {
    color: #000024;
}

/* Job Detail */
.job-detail img {
    width: 100%;
    height: 100%;
}

.job-detail .location {
    color: #A3A3A3;
}

/* Status */
.status thead {
    background-color: #000024;
    color: #FCFEFF;
}

/* Download */
.download {
    color: #FCFEFF;
    background-image: linear-gradient(#000024, #01E075);
}

.download img {
    width: 100%;
}
